name: Copy Changes to Staging

on:
  workflow_dispatch:
    inputs:
      copy-changes:
        description: 'Copy changes from main to staging'

jobs:
  copy-changes:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: fregante/setup-git-user@v2
      
      - name: Check out code
        uses: actions/checkout@v2
        
      - name: Copy staging branch
        run: git fetch origin staging
        
      - name: Checkout staging branch
        run: git checkout staging

      - name: Merge changes from main to staging
        run: |
          git merge main --no-commit --no-ff --allow-unrelated-histories
          git commit -m "Copy changes from main to staging" --author "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com}"
          git push origin staging
